apiVersion: v1
kind: Pod
metadata:
  name: dns-failure-demo
spec:
  dnsPolicy: ClusterFirst
  restartPolicy: Always
  containers:
    - name: dns-fail
      image: busybox
      command:
        - sh
        - -c
        - |
          while true; do
            nslookup nonexistent.domain.local || exit 1
            sleep 5
          done
